| / .left-button / h4.rooms-title 気になる同士 / - @entries.each do |e| / .user-name / strong / = image_tag "#{e.user.avatar}", class:"avatar" / / a.rooms-user-link{href: "/users/#{e.user.id}"} / = e.user.name / さん 

